################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/resume-app/v17
/.vs
package-lock.json
package-lock.json
